<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mishka.flagmemorine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/united_nations"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.RoomsActivity"
            android:label="@string/title_activity_rooms"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BattleFieldActivity"
            android:label="@string/title_activity_room_battle_field"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RoomBattleFieldActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.StartActivity"
             />
        <activity
            android:name=".activity.StartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StatisticActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.StartActivity"/>
        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EndOfGameActivity"
            android:label="@string/title_activity_end_of_game"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.StartActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>